--- 
layout: default 
---
<div class="blog-post-title">
    {% if site.posts.size > 0 %}
    <ul>
      {% for book in site.posts %}
      <article class="book">
        <figure class="book-cover">
          <a href="{{ site.baseurl }}{{ book.url }}">
            <img src="{{ book.image }}" alt="{{ book.title }}">
          </a>
        </figure>
        <div class="book-info">
          <h2><a href="{{ site.baseurl }}{{ book.url }}">{{ book.title }}</a></h2>
          <p>{{ book.book_author | join: ", " }}</p>
          <p><time>{{ book.date | date: "%B %e, %Y" }}</time></p>
        </div>
      </article>
      {% endfor %}
    </ul>
    {% endif %}
</div>

